* {
    margin: 0;
    overflow: hidden;
}

#game_background {
    background-image: url(billeder/baggrundsskaerm.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 56.25vw;
    width: 100vw;
    position: relative;
    background-size: cover;
}































































































































































































































































































































































































}

#fig1 {
    background-image: url(billeder/iphonestartsnap.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1vw;
    left: 10vw;

}

#fig2 {
    background-image: url(billeder/tissemand.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1.1vw;
    left: 10vw;

}

#fig3 {
    background-image: url(billeder/pigeiphone1.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1.1vw;
    left: 10vw;

}

#fig4 {
    background-image: url(billeder/pigeiphone2.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1.1vw;
    left: 10vw;

}

#fig5 {
    background-image: url(billeder/drengiphone.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1.1vw;
    left: 10vw;

}

#fig6 {
    background-image: url(billeder/sp%C3%B8rgsm%C3%A5lbobbel3.svg);
    background-repeat: no-repeat;
    width: 43vw;
    height: 30vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 10vw;
    left: 50vw;
}

#fig7 {
    background-image: url(billeder/sp%C3%B8rgsm%C3%A5lbobbel2.svg);
    background-repeat: no-repeat;
    width: 40vw;
    height: 30vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 10vw;
    left: 50vw;

}

#fig8 {
    background-image: url(billeder/sp%C3%B8rgsm%C3%A5lbobbel1.svg);
    background-repeat: no-repeat;
    width: 43vw;
    height: 30vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 10vw;
    left: 50vw;
}

#fig9 {
    background-image: url(billeder/svar1.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 43vw;

}

#fig10 {
    background-image: url(billeder/svar2.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 70vw;

}

#fig11 {
    background-image: url(billeder/svar3.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 43vw;

}

#fig12 {
    background-image: url(billeder/svar4.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 70vw;

}

#fig13 {
    background-image: url(billeder/svar5.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 43vw;

}

#fig14 {
    background-image: url(billeder/svar6.svg);
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 40vw;
    left: 70vw;
}

#fig15 {
    background-image: url(billeder/starttekst.svg);
    background-repeat: no-repeat;
    width: 50vw;
    height: 22vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 17vw;
    left: 45vw;
}

#fig16 {
    background-image: url(billeder/pil.svg);
    background-repeat: no-repeat;
    width: 7vw;
    height: 5vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 32vw;
    left: 87vw;

}


#settings {
    background-image: url("billeder/setting_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: 90vw;
    z-index: 2;
}

#settings_screen {
    position: absolute;
    width: 100vw;
    height: 50vw;
    background-image: url(billeder/settingscreen_background.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    top: 2vw;
    left: 10vw;
    z-index: 2;
}

#settings_close {
    position: absolute;
    left: 70vw;
    top: 2vw;
    width: 4vw;
    height: 4vw;
    background-image: url(billeder/kryds.svg);
    background-size: 100%;
    cursor: pointer;
}

#sfx_on {
    background-image: url(billeder/pause.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 17vw;
    top: 23vw;

    width: 10vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#sfx_off {
    background-image: url(billeder/play.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 17vw;
    top: 23vw;

    width: 11vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#music_on {
    background-image: url(billeder/pause.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 53vw;
    top: 23vw;

    width: 10vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#music_off {
    background-image: url(billeder/play.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 53vw;
    top: 23vw;
    width: 11vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

.hide {
    display: none;
}

























#liv {
    background: url(billeder/liv.svg);
    position: absolute;
    background-size: 100%;
    height: 25vw;
    width: 8vw;
    top: 1vw;
    left: 1vw;
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    flex-direction: column;

}

.heart {
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-image: url(billeder/heart.svg);
    background-size: 100%;
    margin-top: 1.3vw;

}

.heart:first-child {
    margin-left: 1.5vw;
}

.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}
