* {
    margin: 0;
    overflow: hidden;
}

#game_background {
    position: relative;
    background-image: url("billeder/baggrundsskaerm.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
}


#settings {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: 90vw;
    z-index: 1;
}

#settings_screen {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 50vw;
    background-image: url(billeder/settingscreen_background.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    top: 2vw;
    left: 10vw;
    border-radius: 2vw;
    z-index: 2;
}

#settings_close {
    position: absolute;
    left: 70vw;
    top: 2vw;
    width: 4vw;
    height: 4vw;
    background-image: url(billeder/kryds.svg);
    background-size: 100%;
    z-index: 2;
}
