/***********************Caroline*************************/

#game_background {
    background-image: url(billeder/baggrundsskaerm.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%;
    position: relative;
}

#fig1 {
    background-image: url(billeder/iphonestartsnap.svg);
    background-repeat: no-repeat;
    width: 35vw;
    height: 59vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -2vw;
    left: 10vw;
}

.hide {
    display: none;
}



/***********************Caroline slut*******************/
