* {
    margin: 0;
    overflow: hidden;
}

#game_background {
    background-image: url(billeder/baggrundsskaerm.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 56.25vw;
    width: 100vw;
    position: relative;
    background-size: cover;

}

#fig1 {
    background-image: url(billeder/iphonestartsnap.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1vw;
    left: 10vw;
    z-index: 2;
}

#fig2 {
    background-image: url(billeder/tissemand.svg);
    background-repeat: no-repeat;
    width: 34vw;
    height: 58vw;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: -1.1vw;
    left: 10vw;
    z-index: 2;
}


#settings {
    background-image: url("billeder/setting_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: 90vw;
    z-index: 2;
}

#settings_screen {
    position: absolute;
    width: 100vw;
    height: 50vw;
    background-image: url(billeder/settingscreen_background.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    top: 2vw;
    left: 10vw;
    z-index: 2;
}

#settings_close {
    position: absolute;
    left: 70vw;
    top: 2vw;
    width: 4vw;
    height: 4vw;
    background-image: url(billeder/kryds.svg);
    background-size: 100%;
    cursor: pointer;
}



#sfx_on {
    background-image: url(billeder/pause.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 17vw;
    top: 23vw;

    width: 10vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#sfx_off {
    background-image: url(billeder/play.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 17vw;
    top: 23vw;

    width: 11vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#music_on {
    background-image: url(billeder/pause.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 53vw;
    top: 23vw;

    width: 10vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

#music_off {
    background-image: url(billeder/play.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 53vw;
    top: 23vw;
    width: 11vw;
    height: 15vw;
    background-size: 100%;
    z-index: 4;
}

.hide {
    display: none;
}

> > > > > > > origin/master > > > > > > > origin/master
